.cart-main-area table {
    border: 1px solid #ebebeb;
}
.cart-main-area .table-content table thead > tr {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
}
.table-content table th {
    border-top: medium none;
    color: #2f333a;
    font-size: 14px;
    font-weight: 500;
    padding: 21px 45px 22px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.table-content table td.product-thumbnail {
    width: 150px;
}

.table-content table td.product-thumbnail img{
    width: 86px;
}

.table-content table td.product-name {
    width: 435px;
}
.table-content table td.product-price-cart {
    width: 196px;
}
.table-content table td.product-quantity {
    width: 100px;
}
.table-content table td.product-quantity {
    width: 130px;
}
.table-content table td.product-remove {
    width: 100px;
}
.table-content table tbody > tr {
    border-bottom: 1px solid #ebebeb;
}
.table-content table tbody > tr:last-child {
    border-bottom: 0px solid #ebebeb;
}
.table-content table td {
    color: #242424;
    font-size: 14px;
    padding: 30px 0;
    text-align: center;
}
.table-content table td.product-name a {
    color: #2f333a;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart-main-area .product-quantity {
    display: table-cell;
    margin: 0;
}
.pro-dec-cart input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    color: #242424;
    height: 42px;
    padding: 0;
    text-align: center;
    width: 94px;
}
.table-content table td.product-remove a {
    color: #aaa;
    font-size: 17px;
    margin: 0 13px;
}
.table-content table td.product-remove a:hover {
    color: #e02c2b;
}
h3.page-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 25px;
}
.cart-shiping-update-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 55px;
}
.cart-shiping-update > a,
.cart-clear > button,
.cart-clear > a {
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #363f4d;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 18px 63px 17px;
    text-transform: uppercase;
}
.cart-shiping-update > a:hover,
.cart-clear > button:hover,
.cart-clear > a:hover {
    background-color: #e02c2b;
    color: #fff;
}
.cart-clear > button {
    border: medium none;
    cursor: pointer;
    margin-right: 27px;
    transition: all 0.3s ease 0s;
}
.title-wrap {
    position: relative;
}
.section-bg-gray {
    background-color: #f8f9f9;
    position: relative;
    z-index: 99;
}
h4.cart-bottom-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-right: 18px;
}
.title-wrap::before {
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
}
.section-bg-gary-cart {
    background-color: #f9f9f9;
    position: relative;
    z-index: 9;
}
.tax-wrapper > p {
    margin: 0;
}
.tax-wrapper {
    margin-top: 22px;
}
.tax-select-wrapper {
    margin: 5px 0 0;
}
.tax-select label {
    color: #242424;
    font-size: 14px;
    margin: 0 0 5px;
}
.tax-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url("../img/icon-img/cart.png") no-repeat scroll right 18px center;
    border: 1px solid #ebebeb;
    box-shadow: none;
    color: #242424;
    font-size: 12px;
    height: 40px;
    padding: 0 50px 0 15px;
    width: 100%;
    cursor: pointer;
}
.tax-select {
    margin: 0 0 26px;
}
.tax-select input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    height: 40px;
}
button.cart-btn-2 {
    background-color: #e02c2b;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 42px 12px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
button.cart-btn-2:hover {
    background-color: #242424;
}
.discount-code {
    margin: 21px 0 0;
}
.discount-code > p {
    margin: 0 0 15px;
}
.discount-code input {
    background: #fff;
    border: 1px solid #ebebeb;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.cart-tax,
.discount-code-wrapper {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
}
.grand-totall {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
}
.grand-totall > h5 {
    font-size: 14px;
    margin: 36px 0 27px;
}
.grand-totall > h5 span {
    float: right;
}
.grand-totall > h5 span {
    float: right;
    font-size: 18px;
    font-weight: 500;
}
.total-shipping > h5 {
    font-size: 14px;
    margin: 0;
}
.total-shipping {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 0 27px;
    padding: 28px 0;
}
.total-shipping > ul {
    padding: 19px 0 0 0px;
}
.total-shipping ul li {
    color: #242424;
    list-style: outside none none;
    margin: 0 0 6px;
}
.total-shipping ul li:last-child,
.register-us-2 li:last-child {
    margin: 0 0 0px;
}
.total-shipping ul li span {
    float: right;
}
.total-shipping ul li input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: #626262;
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
}
h4.grand-totall-title {
    color: #e02c2b;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 25px;
}
h4.grand-totall-title span {
    float: right;
}
.grand-totall > a {
    background-color: #e02c2b;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 18px 10px 19px;
    text-align: center;
    text-transform: uppercase;
}
.grand-totall > a:hover {
    background-color: #242424;
}
.product-wishlist-cart > a {
    background-color: #e02c2b;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 7px 10px;
    text-transform: uppercase;
}
.product-wishlist-cart > a:hover {
    background-color: #242424;
}